[submodule "config/iocs/orbit/scripts"]
	path = config/iocs/orbit/scripts
	url = https://baltig.infn.it/infn-epics/py-ioc-collector.git
[submodule "config/iocs/flags-ch1/scripts"]
	path = config/iocs/flags-ch1/scripts
	url = https://baltig.infn.it/infn-epics/pymotflag.git
[submodule "config/iocs/klyloop/scripts"]
	path = config/iocs/klyloop/scripts
	url = https://baltig.infn.it/lnf-da-control/klystron-loop-soft-ioc.git
[submodule "config/iocs/lasersynch/scripts"]
	path = config/iocs/lasersynch/scripts
	url = https://baltig.infn.it/lnf-da-control/laser-synch-soft-ioc
[submodule "config/iocs/mem2epics/scripts"]
	path = config/iocs/mem2epics/scripts
	url = https://baltig.infn.it/infn-epics/memcached2epics.git
[submodule "config/iocs/mag-wrapper/scripts"]
	path = config/iocs/mag-wrapper/scripts
	url = https://baltig.infn.it/lnf-da-control/softioc-devil-wrapper-for-sparc.git
[submodule "opi"]
	path = opi
	url = ../eli-epics-opi.git
[submodule "config/iocs/unimag/scripts"]
	path = config/iocs/unimag/scripts
	url = https://baltig.infn.it/infn-epics/unimag.git