#!/opt/libera-ioc/bin/liberaIOC

# -------------------------------- HEADER -------------------------------------

## You may have to change liberaIOC to something else
## everywhere it appears in this file

epicsEnvSet("ARCH","linux-x86")
epicsEnvSet("TOP","{{ioctop}}")
epicsEnvSet("ASYN","/opt/epics/asyn")
epicsEnvSet("EPICS_BASE","/opt/epics/base")

cd ${TOP}

epicsEnvSet("IOCNAME",{{iocprefix}})

## Register all support components
dbLoadDatabase("dbd/liberaIOC.dbd")
liberaIOC_registerRecordDeviceDriver(pdbbase)

## Asyn traces
# Turn on global trace
#asynSetTraceMask("", 0, 255)
# Turn off global trace
asynSetTraceMask("", 0, 0)# ------------------------ LLRF SPECIFIC ---------------------------------------

epicsEnvSet("MCIAPP","libera-llrf")

## Load record instances
# Libera MCI tree support


dbLoadRecords("db/llrf.db",        "P=${IOCNAME},D=${MCIAPP}")

dbLoadRecords("db/vm.db",          "P=${IOCNAME},D=${MCIAPP},MB=vm1,B=vm")
dbLoadRecords("db/tcm.db",         "P=${IOCNAME},D=${MCIAPP},MB=tcm2,B=tcm")
dbLoadRecords("db/application.db", "P=${IOCNAME},D=${MCIAPP},MB=application,B=app")

dbLoadRecords("db/adllr.db",      "P=${IOCNAME},D=${MCIAPP},MB=adllr3,B=ad1")
dbLoadRecords("db/adllr.db",      "P=${IOCNAME},D=${MCIAPP},MB=adllr4,B=ad2")
#dbLoadRecords("db/adllr.db",      "P=${IOCNAME},D=${MCIAPP},MB=adllr5,B=ad3")
#dbLoadRecords("db/adllr.db",      "P=${IOCNAME},D=${MCIAPP},MB=adllr6,B=ad4")

## Asyn record for Libera asyn driver
dbLoadRecords("/opt/epics/asyn/db/asynRecord.db","P=${IOCNAME}:,R=${MCIAPP}:asyn,PORT=${MCIAPP},ADDR=0,IMAX=100,OMAX=100")

## Configure Libera port driver
# Several Libera base based application can be accessed by specifying Asyn
# port as the application name - see MCI app-name node that each Libera base
# application provides.

# initLibera() arguments:
#   a_portName  - the name to give to this asyn port driver

initLibera("${MCIAPP}")

# Turn on port traces
#asynSetTraceMask("${MCIAPP}", 0, 0xff)
#asynSetTraceIOMask("${MCIAPP}", 0, 0xff)

# Turn off port traces
asynSetTraceMask("${MCIAPP}", 0, 0)
asynSetTraceIOMask("${MCIAPP}", 0, 0)

# ------------------------ PLATFORM SPECIFIC ----------------------------------

## Load record instances
# Libera MCI tree support
dbLoadRecords("db/static.db",              "P=${IOCNAME},D=libera-platform")
dbLoadRecords("db/platform.db",            "P=${IOCNAME},D=libera-platform")

dbLoadRecords("db/os_sensors.db",          "P=${IOCNAME},D=libera-platform,MB=os,B=os")
dbLoadRecords("db/icb_sensors.db",         "P=${IOCNAME},D=libera-platform,MB=icb0,B=icb")
dbLoadRecords("db/vm1_rf2_sensors.db",     "P=${IOCNAME},D=libera-platform,MB=vm1,B=vm")
dbLoadRecords("db/tcm1_cdm_sensors.db",    "P=${IOCNAME},D=libera-platform,MB=tcm2,B=tcm")
dbLoadRecords("db/adc_llrf_ft_sensors.db", "P=${IOCNAME},D=libera-platform,MB=adllr3,B=ad1")
dbLoadRecords("db/adc_llrf_ft_sensors.db", "P=${IOCNAME},D=libera-platform,MB=adllr4,B=ad2")
#dbLoadRecords("db/adc_llrf_ft_sensors.db", "P=${IOCNAME},D=libera-platform,MB=adllr5,B=ad3")
#dbLoadRecords("db/adc_llrf_ft_sensors.db", "P=${IOCNAME},D=libera-platform,MB=adllr6,B=ad4")

## Asyn record for Libera asyn driver
dbLoadRecords("/opt/epics/asyn/db/asynRecord.db","P=${IOCNAME}:,R=libera-platform:asyn,PORT=libera-platform,ADDR=0,IMAX=100,OMAX=100")

## Configure Libera port driver
# Several Libera base based application can be accessed by specifying Asyn
# port as the application name - see MCI app-name node that each Libera base
# application provides.

# initLibera() arguments:
#   a_portName  - the name to give to this asyn port driver

initLibera("libera-platform")

# Turn on port traces
#asynSetTraceMask("libera-platform", 0, 0xff)
#asynSetTraceIOMask("libera-platform", 0, 0xff)

# Turn off port traces
asynSetTraceMask("libera-platform", 0, 0)
asynSetTraceIOMask("libera-platform", 0, 0)

# -------------------------------- FOOTER -------------------------------------

iocInit()
{%- for param in iocinit %}
dbpf ("{{param.name}}","{{param.value}}")
{% endfor %}
# Save list of PVs to a file

dbl("*") > {{config_dir}}/pvlist.txt
