#!../../bin/linux-x86_64/elinp-gp09-ioc01

#
# Project       : IOC software module
# Description   : IOC software module
# Authors       : Ivana Mustac <ivana.mustac@cosylab.com>
#
# Copyright (c) 2015 Cosylab d.d.
#

< envPaths
< envSystem
< envUser

cd "${TOP}"

#############################################
## Register all support components         ##
#############################################

dbLoadDatabase "dbd/$(IOCMODULE).dbd"
elinp_gp09_ioc01_registerRecordDeviceDriver pdbbase


#############################################
## HW setup                                ##
#############################################
epicsEnvSet("EVR",		"{{EVR_PREFIX}}")
epicsEnvSet("EVG",		"{{EVG_PREFIX}}")

# Run lspci and adjust
mrmEvgSetupPCI("$(EVG)",9,9,0)
mrmEvrSetupPCI("$(EVR)",0,9,11,0)


#############################################
## DB Loading                              ##
#############################################
#dbLoadTemplate("${TOP}/db/$(IOCMODULE).substitutions")

## Timing DB (EVG)
epicsEnvSet("PREFIX",	"{{iocprefix}}")
# EVG card ID
dbLoadRecords("elinp-evg.db", "SYS=$(PREFIX), EVG=$(EVG)")

dbLoadRecords("elinp-evr.db", "SYS=$(PREFIX), EVR=$(EVR), EVT=0")


#############################################
## IOC and System Monitor                  ##
#############################################

# dbLoadRecords("${ELINPIOCMON}/db/elinp-iocmon.db", "P=${IOCNAME}")
# dbLoadRecords("${ELINPSYSMON}/db/elinp-sysmon.db", "P=${IOCNAME},NETIF=${NETIF}")


#############################################
## Auto Save/Restore                       ##
#############################################
# Disabled, to enable also edit envSystem (AUTOSAVE_SYSM_PV_PREFIX)
#< "${TOP}/iocBoot/$(IOC)/$(IOC)-preSaveRestore.cmd"


#############################################
## IOC Logging                             ##
#############################################

# iocLogInit


#############################################
## IOC initialization                      ##
#############################################

#cd "${TOP}/db"

iocInit
#############################################
## Timing configuration                    ##
#############################################

# Load EVG config with external RF
< "tmg-EVGsetup.cmd"

# OR load EVG config with internal clock
#< "${PTTS}/ioc_config/tmg-EVGinternal.cmd"

< "tmg-EVRsetup.cmd"


{{- range iocinit }}
dbpf {{.name}}:{{.value}}
{{- end }}


# dbl > pvlist.txt
dbl("*") > {{config_dir}}/pvlist.txt

#############################################
## Auto Save/Restore post init config      ##
#############################################
# Disabled
#< "${TOP}/iocBoot/$(IOC)/$(IOC)-postSaveRestore.cmd"

