#!{{iocbin}}
# elinp_gp09_ioc01

< envPaths
< envSystem
< envUser

cd "${TOP}"

#############################################
## Register all support components         ##
#############################################

dbLoadDatabase "dbd/mrf230.dbd"
{{iocfunc}}_registerRecordDeviceDriver pdbbase


#############################################
## HW setup                                ##
#############################################
{% for evg in devices.evg %}
{%- set prefix = iocprefix %}
{% if evg.prefix is defined %}
{%- set prefix = evg.prefix %}
{% endif %}
mrmEvgSetupPCI("{{evg.name}}",{{evg.bus}},{{evg.slot}},{{evg.func}})
dbLoadRecords("elinp-evg.db", "SYS={{prefix}}, EVG={{evg.name}}")
{% endfor %}

{% for evr in devices.evr %}
{%- set prefix = iocprefix %}
{% if evr.prefix is defined %}
{%- set prefix = evr.prefix %}
{% endif %}
mrmEvrSetupPCI("{{evr.name}}",0,{{evr.bus}},{{evr.slot}},{{evr.func}})
dbLoadRecords("elinp-evr.db", "SYS={{prefix}}, EVR={{evr.name}},EVT=0")
dbLoadRecords("elinp-evrsoft.db", "SYS={{prefix}}, EVR={{evr.name}}, EVT=0, CODE=0")
{% endfor %}

{% for adc in devices.m9210 %}
{%- set prefix = iocprefix %}
{% if adc.prefix is defined %}
{%- set prefix = adc.prefix %}
{% endif %}
ndsCreateDevice "m9210", "{{adc.name}}", "N_AI=1, DEV={{adc.dev}}, OPT=DriverSetup=CAL=0, BUFSIZE={{adc.bufsize}}"
dbLoadRecords "db/m9210.db", "PREFIX={{prefix}}, IDX=0, MODULEIDX=0,  ASYN_PORT={{adc.name}}, TIMEOUT=1, BUFSIZE={{adc.bufsize}}, PV_EVENT_CNT={{eventpv}}, PV_STATS={{prefix}}:MACB_CW"
dbLoadRecords "db/xct-stat.template", "PREFIX={{prefix}}, NELM={{adc.bufsize}}, BUFSIZE={{adc.bufsize}}, SRCREC={{prefix}}:AI0:ROI, UBUNCHSAMPL=64, IOCNAME={{iocname}}, PV_SR_TP=ai, PV_SR={{prefix}}:CLKF_RB, PV_IMPED_TP=mbbi, PV_IMPED={{prefix}}:AI0:IMPD_RB"
{% endfor %}

#############################################
## DB Loading                              ##
#############################################
#dbLoadTemplate("${TOP}/db/$(IOCMODULE).substitutions")

## Timing DB (EVG)



#############################################
## IOC and System Monitor                  ##
#############################################

# dbLoadRecords("${ELINPIOCMON}/db/elinp-iocmon.db", "P=${IOCNAME}")
# dbLoadRecords("${ELINPSYSMON}/db/elinp-sysmon.db", "P=${IOCNAME},NETIF=${NETIF}")


#############################################
## Auto Save/Restore                       ##
#############################################
# Disabled, to enable also edit envSystem (AUTOSAVE_SYSM_PV_PREFIX)
#< "${TOP}/iocBoot/$(IOC)/$(IOC)-preSaveRestore.cmd"


#############################################
## IOC Logging                             ##
#############################################

# iocLogInit


#############################################
## IOC initialization                      ##
#############################################

#cd "${TOP}/db"

iocInit
#############################################
## Timing configuration                    ##
#############################################


# OR load EVG config with internal clock
#< "${PTTS}/ioc_config/tmg-EVGinternal.cmd"

{% for evg in devices.evg %}
{%- set prefix = iocprefix %}
{% if evg.prefix is defined %}
{%- set prefix = evg.prefix %}
{% endif %}
{%- if evg.iocinit is sequence %}
{%- for param in evg.iocinit %}
dbpf ("{{prefix}}:{{evg.name}}:{{param.name}}","{{param.value}}")
{%- endfor %}
{%- endif %}
{%- endfor %}

{%- for evr in devices.evr %}
{%- set prefix = iocprefix %}
{% if evr.prefix is defined %}
{%- set prefix = evr.prefix %}
{%- endif %}
{%- if evr.iocinit is sequence %}
{%- for param in evr.iocinit %}
dbpf ("{{prefix}}:{{evr.name}}:{{param.name}}","{{param.value}}")
{%- endfor %}
{%- endif %}
{%- endfor %}


{%- for adc in devices.m9210 %}
{%- set prefix = iocprefix %}
{%- if adc.prefix is defined %}
{%- set prefix = adc.prefix %}
{%- endif %}
{%- if adc.iocinit is sequence %}
{%- for param in adc.iocinit %}
dbpf ("{{prefix}}:{{adc.name}}:{{param.name}}","{{param.value}}")
{%- endfor %}
{%- endif %}
{%- endfor %}

# dbl > pvlist.txt
dbl("*") > {{config_dir}}/pvlist.txt

#############################################
## Auto Save/Restore post init config      ##
#############################################
# Disabled
#< "${TOP}/iocBoot/$(IOC)/$(IOC)-postSaveRestore.cmd"

